<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="forView.css" />
     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    

  </head>

  <body>
    <div class="container">
      <h2 class="title">Student Feedback List</h2>
      <a href="/dashboard" class="back">← Back</a>

      <% if (student.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>Year Level</th>
              <th>Q1</th>
              <th>Q2</th>
              <th>Q3</th>
              <th>Q4</th>
              <th>Q5</th>
              <th>Q6</th>
              <th>Q7</th>
              <th>Q8</th>
              <th>Q9</th>
              <th>Q10</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% student.forEach(function(data){ %>
              <tr>
                <td><%= data.id %></td>
                <td><%= data.full_name %></td>
                <td><%= data.year_level %></td>
                <td><%= data.q1 %></td>
                <td><%= data.q2 %></td>
                <td><%= data.q3 %></td>
                <td><%= data.q4 %></td>
                <td><%= data.q5 %></td>
                <td><%= data.q6 %></td>
                <td><%= data.q7 %></td>
                <td><%= data.q8 %></td>
                <td><%= data.q9 %></td>
                <td><%= data.q10 %></td>
                <td class="action-cell">
              <a href="/delete/<%= data.id %>" 
               class="btn-delete"
                onclick="return confirm('Are you sure you want to delete this record?')">
                Delete
                </a>
              </td>
             </tr>
              
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <p class="no-data">No feedback records found.</p>
      <% } %>
    </div>
  </body>
</html>
